.post {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 5px;
}

.post img {
  height: 50px;
  width: 50px;
  border-radius: 30px;
  padding: 5px;
}