.nav {
  grid-area: nav;
  background-color: rgb(78, 96, 96);
  padding: 10px;
  height: 100%;
}

.item a {
  text-decoration: none;
  color: rgb(181, 189, 197);
}

.item a.active {
  color: rgb(88, 161, 240);
}
.item a:hover {
  font-weight: 600;
}