* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

.app-wrapper {
  background-color: rgb(178, 185, 190);
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
    "header header"
    "nav con";
  margin: 0 auto;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.app-wrapper-content {
  background-color: rgb(178, 185, 190);
  box-sizing: border-box;
  grid-area: con;
}

.app-wrapper-content img {
  width: 600px;
  height: 200px;
}