.dialogs {

  display: grid;
  grid-template-columns: 2fr 12fr;
}

.users {
  font-weight: 600;
  border-right: 3px solid rgb(78, 96, 96);

}

.massages {
  padding: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-top: 10px;
}
.input textarea {
  font-size: 16px;
  width: 25%;
}

.btn {
  font-size: 20px;
  background-color: rgb(78, 96, 96);
  color: rgb(181, 189, 197);
  margin: 5px;
}

.btn:hover {
  color: rgb(78, 96, 96);
  background-color: rgb(181, 189, 197);
}